@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 300px;
    height: 1000px;
    background-color: #ffffff93;
    overflow-x: hidden;
    overflow: scroll;
    position: fixed;
}

.navbar h1 {
    text-align: center;
    margin-top: 45px;
    font-size: 45px;
}

.navbar span {
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.links {
    margin-top: 105px;
}

.links p {
    text-align: center;
    font-size: 15px;
    font-weight: 510px;
    margin-top: 17px;
}

.links a {
    color: rgb(188, 188, 188);
    transition: all 0.2s;
}

.links a:hover {
    transition: all 0.2s;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.links .home {
    border-bottom: 3px solid rgb(0, 0, 0);
    color: black;
}

.ft {
    margin-top: 83px;
}

.ft p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: rgb(188, 188, 188);
}

.ft a {
    color: #F0642C;
}

.social {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.social a {
    color: rgb(80, 80, 80);
    padding: 8px;
    transition: all 0.3s;
}

.social a:hover {
    color: rgb(0, 0, 0);
}

.main {
    margin-left: 350px;
}

.profilepic {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hello h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}
.hello p {
    text-align: center;
    font-size: 25px;
    color: rgb(188, 188, 188);
    font-weight: 300;
}

.text {
    font-size: 20px ;
    font-weight: 400 ;
    margin-top: 20px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.more a {
    color: rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);
    transition: all 0.3s;
    font-weight: 300;
}

.more a:hover {
    color: rgb(155, 155, 155);
}

body, html {
    background: #ECEDEF;
    margin: 0;
    padding: 0;
    
  }
   
  .container {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: slategray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top:100px;
    margin-right: 300px;
    
  }
  .display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #4f167b;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .buttons {
    padding: 20px 20px 0 20px;
  }
  .row {
    width: 280px;
    float: left;
  }
  input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
    
  }
  input[type=text] {
    width: 270px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    
  }
  .red {
    background: #9b05ff !important;
    color: #ffffff !important;
  }  
button {
    width: 72px;
    height: 50px;
    margin: 4px;
    border-radius: 2px;
    background-color: whitesmoke;
    border: none;
}